page-report-bug-modal {

  text-align: center;

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  ion-header{
    background: none;
  }

  ion-title{
    background: none;
  }

  .toolbar-title{
    font-size: 30px;
    text-align: left;
    margin-left: 5vw;
    margin-top: 5vh;
    font-family: 'Archivo Black', sans-serif;
    color: #6C7A89;
    background: none;
  }

  .deviceInput, .pageInput{
    width:90vw;
    height: 7vh;
    margin-top: 4vh;
    background: #ededed;
    padding: 8px;
    border: none;
  }

  .deviceInput{
    margin-top: 2vh;
  }

  .backBtn{
    font-size: 18px;
    color: #ecf0f1;
    background: #f58f84;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 4vw;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #aeaeae;
    margin-top: 3vh;
    width: 44vw;
    height: 9vh;
  }

  .submitBtn{
    font-size: 18px;
    color: #ecf0f1;
    background: #26C281;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #aeaeae;
    margin-top: 15vh;
    width: 44vw;
    height: 9vh;
  }

  .infoText {
    resize: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ededed;
    border: none;
    margin-top: 4vh;
    width: 90vw;
    height: 35vh;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
  }

}
