

<ion-content class="no-scroll">

  <ion-header>
    <!-- 1 -->

    <div class="animated slideInDown circle1White" *ngIf="currentCard!=0">1</div>

    <div class="animated slideInUp circle1Black" *ngIf="currentCard==0"> <i class="icon icon-contract"></i> </div>

    <!-- 2 -->

    <div class="animated slideInDown circle2White" *ngIf="currentCard!=1">2</div>

    <div class="animated slideInUp circle2Black" *ngIf="currentCard==1"> <i class="icon icon-info"></i> </div>

    <!-- 3 -->

    <div class="animated slideInDown circle3White" *ngIf="currentCard!=2">3</div>

    <div class="animated slideInUp circle3Black" *ngIf="currentCard==2"> <i class="icon icon-license"></i> </div>

    <!-- 4 -->

    <div class="animated slideInDown circle4White" *ngIf="currentCard!=3">4</div>

    <div class="animated slideInUp circle4Black" *ngIf="currentCard==3"> <i class="icon icon-license2"></i> </div>

    <!-- 5 -->

    <div class="animated slideInDown circle5White" *ngIf="currentCard!=4">5</div>

    <div class="animated slideInUp circle5Black" *ngIf="currentCard==4"> <i class="icon icon-evidence"></i> </div>


  </ion-header>

  <ion-slides class= "slideContainer" (ionSlideDidChange)="slideChanged()">

    <ion-slide class= "stepOne">
      <div class="stepOneCard">

        <input id="p2" placeholder="{{policy_input}}" class="policyInput" [(ngModel)]="policyInput"/>
        <input placeholder="{{name_input}}" class="nameInput" [(ngModel)]="nameInput"/>
        <input placeholder="{{number_input}}" class="contactInput" type="tel" [(ngModel)]="numberInput"/>

        <button class="cancelBtn" (click)="cancel()">
          Cancel
        </button>

        <button class="nextBtn" (click)="nextCard()">
          Next
        </button>


      </div>
    </ion-slide>

    <ion-slide class= "stepTwo">
      <div class="stepTwoCard">

        <p class="basicTextLeft">
          Date of accident
        </p>

        <ion-item class="dateBox" no-lines>
          <ion-label><i class="icon icon-calendar"></i></ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate">
          </ion-datetime>
        </ion-item>

        <p class="basicTextLeft">
          Location of accident
        </p>

        <button class="currrentLocBtn" (click)="getCurrentLoc()">
          Use my current location
        </button>

        <p>
          -- Or --
        </p>

        <button class="adressBox" (click)="enterAddress()">
          {{address}}
        </button>

        <br />

        <button class="backBtn2" (click)="previousCard()">
          Back
        </button>

        <button class="nextBtn2" (click)="nextCard()">
          Next
        </button>

      </div>
    </ion-slide>

    <ion-slide class= "stepThree">
      <div class="stepThreeCard">

        <p class="titleThreeCard">What happened?</p>

          <div class="select">
            <select>
              <option>--Select--</option>
              <option>Car Crash</option>
              <option>Obstacle Collision</option>
              <option>Other</option>
            </select>
          </div>

          <p class="photoInfoThreeCard">
            Tap below to add a photo of your drivers license
          </p>

          <div class="cameraModel" (click)="openCameraModel()">
            <i class="icon icon-camera cameraIcon">
            </i>

          </div>


        <button class="backBtn3" (click)="previousCard()">
          Back
          </button>

        <button class="nextBtn3" (click)="nextCard()">
          Next
        </button>

      </div>
    </ion-slide>

    <ion-slide class= "stepFour">
      <div class="stepFourCard">

        <input placeholder="placeholder" class="infoInputBasic" [(ngModel)]="policyInput"/>
        <input placeholder="placeholder" class="infoInputBasic"/>
        <input placeholder="placeholder" class="infoInputBasic" type="tel"/>

        <button class="backBtn" (click)="previousCard()">
          Back
        </button>

        <button class="nextBtn" (click)="nextCard()">
          Next
        </button>

      </div>
    </ion-slide>

    <ion-slide class= "stepFive">
      <div class="stepFiveCard">

        <p class="basicTextLeft">
          Tap to add photos from your gallery or camera
        </p>

        <button class="stepFiveBtns1" (click)="select()">
          <i class="icon icon-gallery"></i>
        </button>

        <button class="stepFiveBtns2" (click)="openCamera()">
          <i class="icon icon-picture"></i>
        </button>

        <button class="stepFiveBtns3">
          <i class="icon icon-edit"></i>
        </button>

        <br />

        <!-- <div class="imageGrid">
          <div class="one-image" *ngFor="let image of images">
            <img src="{{image}}">
          </div>
        </div> -->

        <!-- <ion-grid class="imageGrid">
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images">
              <div class="image-container" [style.background-image]="image.value"></div>
            </ion-col>
          </ion-row>
        </ion-grid> -->

        <div class="galleryContent">
          <ion-content>
            <div class="spacebrick"></div>
            <ion-grid class="imageGrid">
              <ion-row>
                <ion-col *ngFor="let image of images; let i = index" col-4>
                  <!-- <p class="imageTitle"># {{i+1}}</p>
                  <button class="detailsButton" (click)="openImageSettings(i)">
                    <i class="icon icon-add detailsIcon"></i>
                  </button> -->
                  <div class="image-container" [style.background-image]="image.value">
                    <img [src]="image.pic" width="120">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-content>
        </div>

        <button class="backBtn5" (click)="previousCard()">
          Back
        </button>

        <button class="submitBtn" (click)="submit()">
          Submit
        </button>

      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
