



  <ion-header>
    <!-- 1 -->

    <div class="animated slideInDown circle1White" *ngIf="currentCard!=0" (click)="this.slides.slideTo(0)">1</div>

    <div class="animated slideInUp circle1Black" *ngIf="currentCard==0"> <i class="icon icon-contract" ></i> </div>

    <!-- 2 -->

    <div class="animated slideInDown circle2White" *ngIf="currentCard!=1" (click)="this.slides.slideTo(1)">2</div>

    <div class="animated slideInUp circle2Black" *ngIf="currentCard==1"> <i class="icon icon-info"></i> </div>

    <!-- 3 -->

    <div class="animated slideInDown circle3White" *ngIf="currentCard!=2" (click)="this.slides.slideTo(2)">3</div>

    <div class="animated slideInUp circle3Black" *ngIf="currentCard==2"> <i class="icon icon-license"></i> </div>

    <!-- 4 -->

    <div class="animated slideInDown circle4White" *ngIf="currentCard!=3" (click)="this.slides.slideTo(3)">4</div>

    <div class="animated slideInUp circle4Black" *ngIf="currentCard==3"> <i class="icon icon-license2"></i> </div>

    <!-- 5 -->

    <div class="animated slideInDown circle5White" *ngIf="currentCard!=4" (click)="this.slides.slideTo(4)">5</div>

    <div class="animated slideInUp circle5Black" *ngIf="currentCard==4"> <i class="icon icon-evidence"></i> </div>


  </ion-header>

  <ion-slides class= "slideContainer" (ionSlideDidChange)="slideChanged()">

    <ion-slide class= "stepOne">
      <div class="stepOneCard">

        <input id="p2" placeholder="{{policy_input}}" class="policyInput" [(ngModel)]="policyInput"/>
        <input placeholder="{{name_input}}" class="nameInput" [(ngModel)]="nameInput"/>
        <input placeholder="{{number_input}}" class="contactInput" type="tel" [(ngModel)]="numberInput"/>

        <button class="cancelBtn" (click)="cancel()">
          Cancel
        </button>

        <button class="nextBtn" (click)="nextCard()">
          Next
        </button>


      </div>
    </ion-slide>

    <ion-slide class= "stepTwo">
      <div class="stepTwoCard">

        <p class="basicTextLeft">
          Date of accident
        </p>

        <ion-item class="dateBox" no-lines>
          <ion-label><i class="icon icon-calendar"></i></ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate">
          </ion-datetime>
        </ion-item>

        <p class="basicTextLeft">
          Location of accident
        </p>

        <button class="currrentLocBtn" (click)="getCurrentLoc()">
          Use my current location
        </button>

        <p>
          -- Or --
        </p>

        <button class="adressBox" (click)="enterAddress()">
          {{address}}
        </button>

        <br />

        <button class="backBtn2" (click)="previousCard()">
          Back
        </button>

        <button class="nextBtn2" (click)="nextCard()">
          Next
        </button>

      </div>
    </ion-slide>

    <ion-slide class= "stepThree">
      <div class="stepThreeCard">

        <p class="titleThreeCard">What happened?</p>

          <div class="select">
            <select [(ngModel)]="selectedValue">
              <option >--Select--</option>
              <option [value]="'Car Crash'">At fault accident</option>
              <option [value]="'Obstacle Collision'">3rd party at fault</option>
              <option [value]="'Other'">Fault in dispute</option>
            </select>
          </div>

          <p class="photoInfoThreeCard">
            Tap below to add a photo of your drivers license
          </p>

          <div class="cameraModel" (click)="openCameraModel('self')">
            <i class="icon icon-camera cameraIcon" *ngIf="!selfLicense">
            </i>

            <img src="{{selfLicense}}" *ngIf="selfLicense" class="selfLicensePic"/>
          </div>

          <p class="dontHaveTxt">I don't have my drivers license with me</p>


        <button class="backBtn3" (click)="previousCard()">
          Back
          </button>

        <button class="nextBtn3" (click)="nextCard()">
          Next
        </button>

      </div>
    </ion-slide>

    <ion-slide class= "stepFour">
      <div class="stepFourCard">

        <p style="font-family:Arial;" class="photoInfoFourCard">
          Tap below to add a photo of the other drivers license
        </p>

        <div class="cameraModel" (click)="openCameraModel('other')">
          <i class="icon icon-camera cameraIcon" *ngIf="!otherLicense">
          </i>

          <img src="{{otherLicense}}" *ngIf="otherLicense" class="selfLicensePic"/>
        </div>

        <a class="dontHaveTxt">I don't have my drivers license with me</a>

        <button class="backBtn4" (click)="previousCard()">
          Back
        </button>

        <button class="nextBtn4" (click)="nextCard()">
          Next
        </button>

      </div>
    </ion-slide>

    <ion-slide class= "stepFive">
      <div class="stepFiveCard">

        <button class="stepFiveBtns1" (click)="select()">
          <i class="icon icon-gallery"></i>
        </button>

        <button class="stepFiveBtns2" (click)="openCamera()">
          <i class="icon icon-picture"></i>
        </button>

        <button class="stepFiveBtns3">
          <i class="icon icon-edit"></i>
        </button>

        <br />

        <p class="emptyText" *ngIf="images.length<1">
          Tap the buttons above to insert or take pictures of the accident.
        </p>

        <i class="icon icon-camera cameraIconUpload" *ngIf="images.length<1"></i>

        <ion-grid class="imageGrid">
            <ion-content>
            <ion-row>
              <ion-col col-3 col-sm col-xs *ngFor="let image of images">
                <div class="image-container" [style.background-image]="'url(' + image + ')'"></div>
              </ion-col>
            </ion-row>
            </ion-content>
        </ion-grid>


        <button class="backBtn5" (click)="previousCard()">
          Back
        </button>

        <button class="submitBtn" (click)="submit()">
          Submit
        </button>

      </div>
    </ion-slide>

  </ion-slides>
