page-motor {

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  // Top bar
  .circle1White, .circle2White, .circle3White, .circle4White, .circle5White, .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
    position: absolute;
    left: 5vw;
    top: 5.5vh;
    background: none;
    border: 1px solid white;
    width: 8vw;
    height: 4.5vh;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.9vh;
    color: white;
    font-size: 4vw;
  }

  .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
    border: none;
    background: #252525;
    padding-top: 1.1vh;
    width: 8.8vw;
    height: 4.9vh;
    top: 4.3vh;
    font-size: 5vw;
  }

  .circle2White, .circle2Black{
    left: 25vw;
  }

  .circle3White, .circle3Black{
    left: 45vw;
  }

  .circle4White, .circle4Black{
    left: 65vw;
  }

  .circle5White, .circle5Black{
    left: 85vw;
  }


  .slideContainer{
    background: linear-gradient(to bottom right, #5d8cae -40%, #59abe3 100%);

    .cancelBtn, .backBtn, .backBtn2, .backBtn3, .backBtn4, .backBtn5{
      font-size: 18px;
      color: #ecf0f1;
      background: #f58f84;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 23vh;
      width: 38vw;
      height: 9vh;
    }

    .nextBtn, .nextBtn2, .nextBtn3, .nextBtn4{
      font-size: 18px;
      color: #ecf0f1;
      background: #26C281;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 3vh;
      width: 38vw;
      height: 9vh;
    }

    .submitBtn{
      font-size: 18px;
      color: #ecf0f1;
      background: #26C281;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 39vh;
      width: 38vw;
      height: 9vh;
    }

    .currrentLocBtn{
      font-size: 18px;
      color: #ecf0f1;
      text-align: center;
      background: #409cf6;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-left: 1vw;
      width: 76vw;
      height: 9vh;
    }

    .infoInputBasic{
      background: none;
      border: none;
      margin-top: 10vh;
      border-bottom: 1px solid #aeaeae;
      width: 75vw;
    }

    .basicTextLeft{
      font-size: 85%;
      color: #aeaeae;
      text-align: left;
      margin-top: 0vh;
      margin-bottom: 3vh;
      margin-left: 6vw;
      padding-top: 7vh;

    }

    .basicTextLeftV6{
      color: #6d6d6d;
      text-align: left;
      margin-top: 0vh;
      margin-bottom: 1vh;
      margin-left: 6vw;
      padding-top: 7vh;
    }

    .stepOne{
       .stepOneCard{
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         width: 87vw;
         height: 83vh;
         margin-top: 10vh;
         background: #efefef;
         border-radius: 5px 5px 5px 5px;
         box-shadow: 0px 0px 10px 0px;

         .contactText{
           font-size: 85%;
           color: #aeaeae;
           float: left;
           padding-left: 3.5vh;
           margin-top: 8vh;
           margin-bottom: -4vh;
         }

         .policyInput, .nameInput, .contactInput{
           background: none;
           border: none;
           margin-top: 9vh;
           border-bottom: 1px solid #aeaeae;
           width: 75vw;
         }

         .bankText{
           font-size: 85%;
           color: #aeaeae;
           float: left;
           padding-left: 3.5vh;
           margin-top: 6vh;
           margin-bottom: -4vh;
         }

         .bankInput{
           width: 77.5vw;
           height: 7vh;
           padding: 7px;
           border: none;
           margin-top: 7vh !important;
         }

         .BSBInput, .accountInput{
           width: 37.5vw;
           height: 7vh;
           padding: 7px;
           border: none;
           margin-top: 3vh!important;
           font-size: 85%;
           margin-bottom: -20vh;
         }

         .aisLogo{
           position: absolute;
           margin-left: auto;
           margin-right: auto;
           left:0;
           right:0;
           bottom: 25vh;
           width:60vw;
         }

         ::placeholder {
           color: #7c7c7c;
         }
       }
     }
    .stepTwo{
      .stepTwoCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 0px 10px 0px;

        .dateBox{
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: left;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          width: 76vw;
          height: 9vh;

          i{
            font-size: 23px;
          }
        }

        .adressBox{
          font-size: 18px;
          color: #161616;
          text-align: center;
          background: #ffffff;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          margin-left: 1vw;
          width: 76vw;
          height: 9vh;
        }

        .backBtn2, .nextBtn2{
          margin-top: 8vh;
        }

      }
    }
    .stepThree{
      .stepThreeCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;



        .titleThreeCard{
          padding-top: 30px;
          text-align: center;
          margin-left: 5vw;
          color: #aeaeae;
        }

        .categorySelectText{
          font-size: 85%;
          color: #aeaeae;
          float: left;
          padding-left: 3.5vh;
          margin-top: 1vh;
        }

        .select {
          position: relative;
          display: inline-block;
          margin-bottom: 10px;
          width: 90%;
        }

        .select select {
          width: 100%;
          padding: 10px 15px;
          border-radius: 6px;
          border: none;
          background: #4B77BE;
          color: #aeaeae;
        }

        .vehicleDetailsTxt{
          font-size: 85%;
          margin-top: 8vh;
          text-align: left;
          color: #aeaeae;
          margin-left: 5vw;
        }

        .vehicleDetailsMake, .vehicleDetailsModel{
          width: 37.5vw;
          height: 7vh;
          padding: 7px;
          border: none;
          margin-top: 0vh!important;
        }
        .vehicleDetailsModel{
          margin-left: 2vw;
        }
        .vehicleDetailsRegistration{
          width: 77.5vw;
          height: 7vh;
          padding: 7px;
          border: none;
          margin-top: 3vh !important;
        }

        .vehicleDetailsYear{
          border: none;
          width: 77.5vw;
          height: 7vh;
          margin-top: 2vh;
          font-size: 100%;
          padding-left: 7px;
          text-align: left;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          background: white;
          button{
            visibility: hidden;
          }
        }

        .vehicleDetailsModel::placeholder,.vehicleDetailsMake::placeholder, .vehicleDetailsRegistration::placeholder{
          color: #aeaeae;
        }

        .vehicleDetailsModel, .vehicleDetailsRegistration{
          margin-top: 5vh;
        }



        .nextBtn3, .backBtn3{
          margin-top: 6vh;
        }

      }
    }

    .stepFour{
      .stepFourCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;
      }

      .photoInfoCard1{
        padding-top: 0.1vh;
        font-size: 50%;
        color:#aeaeae;
        text-align: left;
        margin-left: 4vw;
      }

      .photoInfoCard2{
        margin-top: 2vh;
        font-size: 50%;
        color:#aeaeae;
        text-align: left;
        margin-left: 4vw;
      }

      hr{
        margin-top: 2vh;
        background: #969696;
        width: 90%;
      }

      .cameraModel1, .cameraModel2{
        margin-top: 4vh;
        margin-bottom: 4vh;
        margin-left: 4.5vw;
        width: 90%;
        height: 21vh;
        // border:1px solid #ededed;
        border-radius:10px;
        background:#ffffff;
        z-index: 9000;
        box-shadow: 0px 0px 10px #aeaeae;

      }



      .cameraModel1{
        background: #5D8CAE;
      }

      .cameraModel2{
        margin-top: 1.8vh;
        background: #4DAF7C;
      }

      .licensePic{
        width: 78.5vw;
        object-fit: cover;
        height: 21vh;
        border-radius: 10px !important;
        z-index: 9000;
      }

      .licenseTxt{
        position: absolute;
        margin-top: 15vh;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 15px;
        color: #ededed;
        opacity: 0.8;
        text-align: center;
      }

      .dontHaveBtn1, .dontHaveBtn2{
        width: 78vw;
        height: 4vh;
        border-radius: 5px;
        background: #E68364;
        color: #ffffff;
        font-size: 12px;
        box-shadow: 0px 0px 10px #aeaeae;
      }

      .dontHaveBtn1{
        background: #4B77BE;
      }

      .dontHaveBtn2{
        background: #26C281;
      }

      .cameraIcon{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left:0;
        right:0;
        margin-top: 5.5vh;
        text-align: center;
        font-size: 60px;
        color: #ededed;
        opacity: 0.8;
      }

      .nextBtn4, .backBtn4{
        margin-top: 4.5vh;
      }
    }


    .stepFive{
      .stepFiveCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;

        .stepFiveBtns1, .stepFiveBtns2, .stepFiveBtns3{
          font-size: 18px;
          color: #ecf0f1;
          background: #606060;
          border: 0.5px solid #ecf0f1;
          border-radius: 1px;
          margin-top: 2vh;
          margin-left: -2vw;
          width: 27vw;
          height: 7vh;

          i{
            text-align: center;
            font-size: 30px;
          }
        }

        p.emptyText{
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 80vw;
          top: 33vh;
          overflow: auto;
          color: #BDC3C7;
        }

        .cameraIconUpload{
          font-size: 80px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left:0;
          right:0;
          text-align: center;
          top: 45vh;
          color: #BDC3C7;
        }

        .stepFiveBtns1{
          margin-left: 1.1vw;
        }

        .stepFiveBtns1:active, .stepFiveBtns2:active, .stepFiveBtns3:active {
          background-color: #19B5FE;
        }

        .imagePick{
          margin-top:5vh;
          width:100%;
          height: 20vh;
          border-radius: 5px;
          background: linear-gradient(to right, #ffcc99 0%, #ff9933 201%);

        .selectTxt{
          position: absolute;
          margin-top:-7.8vh;
          left:9vw;
          font-size: 30px;
          margin-bottom: 0;
          font-family: 'Maven Pro', sans-serif;
          border-bottom: 1px solid white;
          padding-bottom: 1vh;
          color: white;
        }

        .selectDesc{
          position: absolute;
          margin-top: 3vh;
          left:9vw;
          font-size: 17px;
          margin-bottom: 0;
          color: white;
          font-family: 'Maven Pro', sans-serif;
        }

        .imageIcon{
          position: absolute;
          margin-top:-7.8vh;
          right: 9vw;
          font-size: 80px;
          color:#dd38ff;
          opacity: 0.3;
        }
        }

        .imageGrid{
          margin-top: 1vh;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 82.5vw;
          border: none;
          height: 55vh;
        }

        .image-container{
          background-size: cover;
          min-height: 10vh;
          img{
            border-radius: 5px;
          }
        }

        .spacebrick{
            height: 2vh;
        }


      }




      .backBtn5{
        margin-top: 62vh;
      }

    }

  }

  @media (min-height: 812px) and (min-width: 375px) {
    .circle1White, .circle2White, .circle3White, .circle4White, .circle5White, .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
      position: absolute;
      left: 5vw;
      top: 13.5vh;
      width: 8vw;
      height: 4vh;
    }

    .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
      border: none;
      background: #252525;
      padding-top: 1.1vh;
      width: 8.8vw;
      height: 4.4vh;
      top: 12.3vh;
    }

    .circle2White, .circle2Black{
      left: 25vw;
    }

    .circle3White, .circle3Black{
      left: 45vw;
    }

    .circle4White, .circle4Black{
      left: 65vw;
    }

    .circle5White, .circle5Black{
      left: 85vw;
    }

    .stepOne{
       .stepOneCard{
         width: 87vw;
         height: 70vh !important;
         margin-top: 15vh !important;

         .contactText{
           margin-top: 3vh !important;
         }

         .policyInput, .nameInput, .contactInput{
         }

         .aisLogo{
           width: 60vw !important;
           top: 63vh !important;
         }

         .nextBtn{
           margin-top: 20vh !important;
         }

         .cancelBtn{
           margin-top: 20vh !important;
         }

       }
     }

     .stepTwo{
       .stepTwoCard{
         height: 70vh !important;
         margin-top: 15vh !important;

         .dateBox{

           i{
             font-size: 23px;
           }
         }

         .adressBox{
         }

         .backBtn2, .nextBtn2{
           margin-top: 3vh !important;
         }

         .basicTextLeft{
           padding-top: 4vh;

         }

       }
     }

     .stepThree{
       .stepThreeCard{
         height: 70vh !important;
         margin-top: 15vh !important;

         .vehicleDetailsTxt{
           margin-top: 2vh !important;
         }

       }
     }

     .stepFour{
       .stepFourCard{
         height: 70vh !important;
         margin-top: 15vh !important;
       }

       .cameraModel1, .cameraModel2{
         height: 16vh !important;

       }

       .licenseTxt{
         position: absolute;
         margin-top: 11.5vh !important;
       }

       .cameraIcon{
         margin-top: 3.5vh !important;
       }

       .licensePic{
         height: 16vh !important;
       }

       .nextBtn4, .backBtn4{
         margin-top:3.5vh !important;
       }
     }

     .stepFive{
       .stepFiveCard{
         height: 70vh !important;
         margin-top: 15vh !important;

         .imageGrid{
           height: 45vh !important;
         }


       }

       .backBtn5{
         margin-top: 50vh !important;
       }

     }


  }


  @media (min-width: 768px) {
    .circle1White, .circle2White, .circle3White, .circle4White, .circle5White, .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
      position: absolute;
      left: 5vw;
      top: 13.5vh;
      width: 8vw;
      height: 5.5vh;
    }

    .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
      border: none;
      background: #252525;
      padding-top: 1.1vh;
      width: 8.8vw;
      height: 5.9vh;
      top: 12.3vh;
    }

    .circle2White, .circle2Black{
      left: 25vw;
    }

    .circle3White, .circle3Black{
      left: 45vw;
    }

    .circle4White, .circle4Black{
      left: 65vw;
    }

    .circle5White, .circle5Black{
      left: 85vw;
    }
  }


}
