page-motor {

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .slideContainer{
    background: linear-gradient(to bottom right, #3a7bd5 0%, #409cf6 100%);

    .cancelBtn, .backBtn, .backBtn2{
      font-size: 18px;
      color: #ecf0f1;
      background: #f58f84;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 30vh;
      width: 38vw;
      height: 9vh;
    }

    .nextBtn, .nextBtn2{
      font-size: 18px;
      color: #ecf0f1;
      background: #95a5a6;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 10vh;
      width: 38vw;
      height: 9vh;
    }

    .submitBtn{
      font-size: 18px;
      color: #ecf0f1;
      background: #26a65b;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 10vh;
      width: 38vw;
      height: 9vh;
    }

    .currrentLocBtn{
      font-size: 18px;
      color: #ecf0f1;
      text-align: center;
      background: #409cf6;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-left: 1vw;
      width: 76vw;
      height: 9vh;
    }

    .infoInputBasic{
      background: none;
      border: none;
      margin-top: 10vh;
      border-bottom: 1px solid #aeaeae;
      width: 75vw;
    }

    .basicTextLeft{
      color: #6d6d6d;
      text-align: left;
      margin-top: 0vh;
      margin-bottom: 1vh;
      margin-left: 6vw;
      padding-top: 7vh;
    }

    .stepOne{
       .stepOneCard{
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         width: 87vw;
         height: 83vh;
         margin-top: 10vh;
         background: #efefef;
         border-radius: 5px 5px 5px 5px;
         box-shadow: 0px 0px 10px 0px;

         .policyInput, .nameInput, .contactInput{
           background: none;
           border: none;
           margin-top: 10vh;
           border-bottom: 1px solid #aeaeae;
           width: 75vw;
         }
       }
     }
    .stepTwo{
      .stepTwoCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 0px 10px 0px;

        .dateBox{
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: left;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          width: 76vw;
          height: 9vh;

          i{
            font-size: 23px;
          }
        }

        .adressBox{
          font-size: 18px;
          color: #161616;
          text-align: center;
          background: #ffffff;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          margin-left: 1vw;
          width: 76vw;
          height: 9vh;
        }

        .backBtn2, .nextBtn2{
          margin-top: 13vh;
        }

      }
    }
    .stepThree{
      .stepThreeCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;



      .titleThreeCard{
        padding-top: 30px;
        float: left;
        margin-left: 5vw;
        color: #aeaeae;
        }

      .photoInfoThreeCard{
        font-size: 75%;
        color:#aeaeae
      }

        .select {
          position: relative;
          display: inline-block;
          margin-bottom: 15px;
          width: 90%;
        }

        .select select {
          font-family: 'Arial';
          width: 100%;
          padding: 10px 15px;
          border-radius: 6px;
          background: #243A56;
          color: #aeaeae;
        }
      }
    }

    .stepFour{
      .stepFourCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;
      }
    }
    .stepFive{
      .stepFiveCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;
      }
    }
  }
}
