page-motor {

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .slideContainer{

    .stepOne{
       background: linear-gradient(to bottom right, #3a7bd5 0%, #3a6073 100%);
       .stepOneCard{
         background: #f3f3f3;
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         width: 90vw;
         height: 70vh;
         margin-top: 10vh;
         box-shadow: 0px 0px 10px #8e8e8e;
         border-radius: 10px 10px 10px 10px;
       }

       .policyInput{
         background: #f3f3f3;
         padding-top: 10vh;
       }
      .nameInput{
        background: #f3f3f3;
        padding-top: 10vh;

      }
      .contactInput{
        background: #f3f3f3;
        padding-top: 10vh;

      }

    }
    .stepTwo{

    }
    .stepThree{

    }
    .stepFour{

    }
    .stepFive{

    }
  }

}
