page-roadside {
  background: linear-gradient(to top left, #875f9a 0%, #ffccff 200%);
  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .Infotxt{
    color: #aeaeae
  }

  .dividingLine{
    background: #545454;
    width: 90vw !important;
  }

  .defultCard{
    position: absolute;
    width: 90vw;
    height: 85vh;
    border-radius: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    background: #ededed;
    top: 7.5vh;

    .addPhotoTxt{
      margin-top: 12vh;
    }

    .cameraIcon{
      font-size: 95px;
    }

    .dividingLine{
      margin-top: 5vh;
    }

    .manuallyInputTxt{
      margin-top: 8vh;
    }

    .addIcon{
      font-size: 100px
    }
  }

}
