
<div class="exitDiv" (click)="this.navCtrl.pop()">
  <i class="icon icon-close"></i>
</div>

<div class="addDiv" (click)=this.slides.slideTo(this.cards.length)>
  <i class="icon icon-add"></i>
</div>

<ion-slides class= "slideContainer" (ionSlideDidChange)="slideChanged()" pager="true">



  <ion-slide class= "slides" *ngFor="let card of cards">

    <!-- Default card -->

    <div class="animated fadeIn defultCard" *ngIf="card.type=='default'">
      <p class="Infotxt">
        <i class="icon icon-info"></i>
        This page allows you to add and store your roadside assistant cards.
      </p>

      <p class="addPhotoTxt">
        Take a photo of your card.
      </p>

      <i class="icon icon-camera cameraIcon" (click)="openPhotoRoadsideInput()"></i>

      <hr class="dividingLine"/>

      <p class="manuallyInputTxt" >
        Manually input your card.
      </p>

      <i class="icon icon-add addIcon" (click)="openManualRoadsideInput()" ></i>

    </div>

    <!-- Manual Card -->

    <div class="animated fadeIn manualCard" *ngIf="card.type=='manual'">
      <h1 class="manualCardTitle">{{card.cardName}}</h1>

      <p class="manualCardMembershipNumber">
        Membership Number: <br />
        {{card.cardMemberShipNumber}}
      </p>

      <p class="manualCardNumber">
        Card Number: <br />
        {{card.cardNumber}}
      </p>

      <p class="mobilePhoneTitle">
        Card Phone Number:
      </p>
      <a href="tel: {{card.cardPhoneNumber}}">
      <p class="manualCardPhoneNumber">
        {{card.cardPhoneNumber}}
      </p>
      </a>

      <p class="manualCardAdditionalInfo" *ngIf="card.cardAdditionalInfo">
        Additional Info: <br />
        {{card.cardAdditionalInfo}}
      </p>

    </div>

    <!-- Photo Card -->

    <div class="animated fadeIn photoCard" *ngIf="card.type=='photo'">
      <h1 class="manualCardTitle">{{card.cardName}}</h1>

      <div class="photoBox">

        <img src="{{card.cardPhoto}}"/>
      </div>




      <p class="manualCardPhoneNumber">
        Phone Number: <a href="tel: {{card.cardPhoneNumber}}"> {{card.cardPhoneNumber}} </a>
      </p>



    </div>

  </ion-slide>

</ion-slides>
