<ion-slides class= "slideContainer" (ionSlideDidChange)="slideChanged()">

  <ion-slide class= "slides" *ngFor="let card of cards">
    <div class="defultCard" *ngIf="card.type=='default'" (click)="openPhotoRoadsideInput()">
      <p class="addPhotoTxt">
        Add a photo of your card
      </p>
      <i class="icon icon-camera cameraIcon"></i>

      <hr  class="dividingLine"/>

      <p class="manuallyInputTxt" (click)="openManualRoadsideInput()">
        Manually input your card
      </p>

      <i class="icon icon-add addIcon"></i>

    </div>
  </ion-slide>

</ion-slides>
