page-roadside {
  background: linear-gradient(to top left, #875f9a 0%, #ffccff 200%);
  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .dividingLine{
    background: #ededed;
    width: 75vw !important;
  }

  .defultCard{
    position: absolute;
    width: 90vw;
    height: 85vh;
    border-radius: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    background: #ededed;
    top: 7.5vh;

    // .addPhotoTxt{
    //   position: absolute;
    // }
    //
    // .cameraIcon{
    //   position: absolute;
    // }
    //
    // .dividingLine{
    //   position: absolute;
    // }
    //
    // .manuallyInputTxt{
    //   position: absolute;
    // }
    //
    // .addIcon{
    //   position: absolute;
    // }
  }

}
