@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

page-home {

  background: url("../assets/imgs/background.jpg");
  background-position: center;
  background-size:auto;

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  img{
    position: absolute;
    top:5vh;
    width:65vw;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
  }

  .homeselect{
    text-align: center;
    margin-top: 6vh!important;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    margin-bottom: 0;
  }

  ion-grid{
    // padding: 20px;

    margin-top: 0vh;
  }

  ion-row{
    // position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right:0;
    text-align: center;
    margin-top: 1vh;
    width:80vw;

  }



  .motorVehicle, .travelCard, .propertyCard, .roadsideCard, .settingsCard, .instantCallCard {
    // border:1px solid black;
    height: 20vh;
    box-shadow: 0px 2px 10px #aeaeae;
    border-radius: 6px;
    background-color: #f4f4f4;
    border: none;


    .cardIcon {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right:0;
      text-align: center;
      font-size: 70px;
      margin-top: 2vh;
      padding-left: 2vw;


    }

    .cardTxt {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 16px;
      color: #6d6d6d;
      position: absolute;
      margin-top: 15vh;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right:0;
      text-align: center;

    }

  }

  @media (max-height: 812px) and (min-width: 375px) {
    img{
      top:10vh;
    }
    .homeselect{
      margin-top: 22vh;
    }
    .motorVehicle, .travelCard, .propertyCard, .roadsideCard, .settingsCard, .instantCallCard {
      // border:1px solid black;
      height: 17vh;


      .cardIcon {



      }

      .cardTxt {

        margin-top: 13vh;
      }

    }

  }

  .motorVehicle{
    i{
      color: #59ABE3;
      //color: #D24D57;
    }

  }

  .travelCard{
    i{
      color: #4DAF7C;
      //color: #D24D57;
    }

  }

  .propertyCard{
    i{
      font-size: 80px !important;
      color: #D24D57;
      //color: #D24D57;
    }

  }

  .roadsideCard{
    i{
      font-size: 80px !important;
      color: #875F9A;
      //color: #D24D57;
    }

  }

  .settingsCard{
    i{
      color: #6C7A89;
      //color: #D24D57;
    }

  }

  .instantCallCard{
    i{
      color: #6C7A89;
      //color: #D24D57;
    }
  }

  .instantSnapCard{
    width: 100%;
    height: 10vh;
    margin-top: 4vh;

    .circle{
      position: absolute;
      margin:auto;
      left: 0;
      right:0;
      width: 65px;
      height: 65px;
      text-align: center;
      background-color: #f4f4f4;
      border-radius: 50%;
      top:0;
      bottom: 4vh;
      box-shadow: 0px 0px 12px #aeaeae;
      i{
        margin-top: 3vh;
        font-size: 60px;
        color: #6C7A89;
      }
    }
  }
}
