page-settings {
  background: #ededed;

  no-scroll .scroll-content{
    overflow: hidden;
  }

  .topBlock{
    height: 30vh;
    background: #ffffff;
    text-align: center;
    img{
      width: 90vw;
      margin-top: 7vh;
    }
  }

  .closeIcon{
    position: absolute;
    left: 6vw;
    top: 1.2vh;
    width: 10vw;
    height: 5vh;
    padding-top: 1.5vh;
    z-index: 9000;
    font-size: 16px;
  }


  .block1{
    margin-top: 5vh;
  }

  .block2{
    margin-top: 5vh;
  }

  .block3{
    margin-top: 5vh;
  }

  ion-item{
    height: 8vh !important;
  }
}
