page-settings {
  background: #ededed;

  no-scroll .scroll-content{
    overflow: hidden;
  }

  .topBlock{
    height: 30vh;
    background: #ffffff;
    text-align: center;
    img{
      width: 90vw;
      margin-top: 7vh;
    }
  }

  .closeIcon{
    position: absolute;
    left: 6vw;
    top: 1.2vh;
    width: 10vw;
    height: 5vh;
    padding-top: 1.5vh;
    z-index: 9000;
    font-size: 16px;
  }


  .block1{
    margin-top: 5vh;
    .icon-fbShare{
      color: #4C82F7;
      padding-right: 5px;
    }

    .icon-textShare{
      color: #5CC85A;
      padding-right: 5px;
    }
  }

  .block2{
    margin-top: 5vh;

    .icon-privacy{
      color: #E68364;
      padding-right: 5px;
    }

    .icon-terms{
      color: #6C7A89;
      padding-right: 5px;
    }

    .icon-report{
      color: #CF000F;
      padding-right: 5px;
    }
  }

  .block3{
    margin-top: 5vh;
    .icon-property{
      color: #5B3256;
      padding-right: 5px;
    }
  }

  ion-item{
    height: 8vh !important;
  }
}
