page-property {

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  // Top bar
  .circle1White, .circle2White, .circle3White, .circle4White, .circle5White, .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
    position: absolute;
    left: 5vw;
    top: 5.5vh;
    background: none;
    border: 1px solid white;
    width: 8vw;
    height: 4.5vh;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.9vh;
    color: white;
    font-size: 4vw;
  }

  .circle1Black, .circle2Black, .circle3Black, .circle4Black, .circle5Black{
    border: none;
    background: #252525;
    padding-top: 1.1vh;
    width: 8.8vw;
    height: 4.9vh;
    top: 4.3vh;
    font-size: 5vw;
  }

  .circle2White, .circle2Black{
    left: 25vw;
  }

  .circle3White, .circle3Black{
    left: 45vw;
  }

  .circle4White, .circle4Black{
    left: 65vw;
  }

  .circle5White, .circle5Black{
    left: 85vw;
  }


  .slideContainer{
    background: linear-gradient(to bottom right, #e68364 0%, #d24d57 126%);

    .cancelBtn, .backBtn, .backBtn2, .backBtn3, .backBtn4, .backBtn5{
      font-size: 18px;
      color: #ecf0f1;
      background: #f58f84;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 30vh;
      width: 38vw;
      height: 9vh;
    }

    .nextBtn, .nextBtn2, .nextBtn3, .nextBtn4{
      font-size: 18px;
      color: #ecf0f1;
      background: #26C281;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 10vh;
      width: 38vw;
      height: 9vh;
    }

    .nextBtn, .cancelBtn{
      margin-top: 10vh;

    }

    .submitBtn{
      font-size: 18px;
      color: #ecf0f1;
      background: #26a65b;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 39vh;
      width: 38vw;
      height: 9vh;
    }

    .currrentLocBtn{
      font-size: 18px;
      color: #ecf0f1;
      text-align: center;
      background: #409cf6;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-left: 1vw;
      width: 76vw;
      height: 9vh;
    }

    .infoInputBasic{
      background: none;
      border: none;
      margin-top: 10vh;
      border-bottom: 1px solid #aeaeae;
      width: 75vw;
    }

    .basicTextLeft{
      font-size: 85%;
      color: #aeaeae;
      text-align: left;
      margin-top: 0vh;
      margin-bottom: 3vh;
      margin-left: 6vw;
      padding-top: 7vh;


    }

    .basicTextLeftV6{
      color: #6d6d6d;
      text-align: left;
      margin-top: 0vh;
      margin-bottom: 1vh;
      margin-left: 6vw;
      padding-top: 7vh;
    }

    .stepOne{
       .stepOneCard{
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         width: 87vw;
         height: 83vh;
         margin-top: 10vh;
         background: #efefef;
         border-radius: 5px 5px 5px 5px;
         box-shadow: 0px 0px 10px 0px;

         .contactText{
           font-size: 85%;
           color: #aeaeae;
           float: left;
           padding-left: 3.5vh;
           margin-top: 8vh;
           margin-bottom: -3vh;
         }

         .nameInput, .contactInput{
           background: none;
           border: none;
           margin-top: 6vh;
           border-bottom: 1px solid #aeaeae;
           width: 75vw;
         }

         .bankText{
           font-size: 85%;
           color: #aeaeae;
           float: left;
           padding-left: 3.5vh;
           margin-top: 12vh;
           margin-bottom: -4vh;
         }

         .bankInput{
           width: 77.5vw;
           height: 7vh;
           padding: 7px;
           border: none;
           margin-top: 7vh !important;
         }

         .BSBInput, .accountInput{
           width: 37.5vw;
           height: 7vh;
           padding: 7px;
           border: none;
           margin-top: 3vh!important;
           font-size: 85%;
         }


         ::placeholder {
           color: #7c7c7c;
         }
       }
     }
    .stepTwo{
      .stepTwoCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 0px 10px 0px;

        .dateBox{
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: left;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          width: 76vw;
          height: 9vh;

          i{
            font-size: 23px;
          }
        }

        .adressBox{
          font-size: 18px;
          color: #161616;
          text-align: center;
          background: #ffffff;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          margin-left: 1vw;
          width: 76vw;
          height: 9vh;
          margin-bottom: -5vh;
        }

        .backBtn2, .nextBtn2{
          margin-top: 13vh;
        }

      }
    }
    .stepThree{
      .stepThreeCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;



        .titleThreeCard{
          font-size: 110%;
          color: #aeaeae;
          text-align: center;
          padding-top: 4vh;
        }

        .categorySelectText{
          font-size: 85%;
          color: #aeaeae;
          float: left;
          padding-left: 3.5vh;
          margin-top: 1vh;
        }

        .photoInfoThreeCard{
          font-size: 85%;
          color: #aeaeae;
          float: left;
          padding-left: 3.5vh;
          margin-top: 4vh;
          margin-bottom: 1vh;

        }

        .select {
          position: relative;
          display: inline-block;
          margin-bottom: 10px;
          width: 90%;
        }

        .select select {
          width: 100%;
          padding: 10px 15px;
          border-radius: 6px;
          border: none;
          background: #4B77BE;
          color: #aeaeae;
        }

        .adInfoTextArea {
          border-radius: 10px;
          margin-top: 0.5vh;
          background-color: white;
          width: 80vw;
          height: 32vh;
          padding-left: 2vw;
          padding-top: 1vh;
        }

        // .cameraModel{
        //   margin-top: 1vh;
        //   margin-left: 4.5vw;
        //   width: 90%;
        //   height: 27vh;
        //   border:1px solid black;
        //   border-radius:10px;
        //   background:#ffffff;
        //   z-index: 9000;
        // }
        //
        // .cameraIcon{
        //   font-size: 160px
        // }
        //
        // .selfLicensePic{
        //   width: 85%;
        //   object-fit: cover;
        // }

        .nextBtn3, .backBtn3{
          margin-top: 5vh;
        }

      }
    }

    .stepFour{
      .stepFourCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;
      }

      .infoButton{
        position: absolute;
        top: 16.75vh;
        right: 10vw;
        background: none;
        padding: 10px;


      }

      .icon-info{
        font-size: 23px;
      }

      .additionalInfoTitle{
        padding-top: 5vh;
        margin-left: -3vw;
        font-size: 110%;
        color:#aeaeae
      }


      .policeNumber{
        background: none;
        border: none;
        margin-top: 5vh;
        border-bottom: 1px solid #aeaeae;
        width: 75vw;
        padding-left: 2vw;
      }

      .infoTextArea{
        border-radius: 10px;
        padding-top: 1vh;
        margin-top: 6vh;
        background-color: white;
        width: 80vw;
        height: 40vh;
        padding-left: 3vw;
      }

      .cameraModel{
        margin-top: 2vh;
        margin-bottom: 4vh;
        margin-left: 4.5vw;
        width: 90%;
        height: 27vh;
        border:1px solid black;
        border-radius:10px;
        background:#ffffff;
        z-index: 9000;
      }

      .cameraIcon{
        font-size: 160px
      }

      .nextBtn4, .backBtn4{
        margin-top: 6vh;
      }
    }


    .stepFive{
      .stepFiveCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;

        .stepFiveBtns1, .stepFiveBtns2, .stepFiveBtns3{
          font-size: 18px;
          color: #ecf0f1;
          background: #606060;
          border: 0.5px solid #ecf0f1;
          border-radius: 1px;
          margin-top: 2vh;
          margin-left: -2vw;
          width: 27vw;
          height: 7vh;

          i{
            text-align: center;
            font-size: 30px;
          }
        }

        p.emptyText{
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 80vw;
          top: 33vh;
          overflow: auto;
          color: #BDC3C7;
        }

        .cameraIconUpload{
          font-size: 80px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left:0;
          right:0;
          text-align: center;
          top: 45vh;
          color: #BDC3C7;
        }

        .stepFiveBtns1{
          margin-left: 1.1vw;
        }

        .stepFiveBtns1:active, .stepFiveBtns2:active, .stepFiveBtns3:active {
          background-color: #19B5FE;
        }

        .imagePick{
          margin-top:5vh;
          width:100%;
          height: 20vh;
          border-radius: 5px;
          background: linear-gradient(to right, #ffcc99 0%, #ff9933 201%);

        .selectTxt{
          position: absolute;
          margin-top:-7.8vh;
          left:9vw;
          font-size: 30px;
          margin-bottom: 0;
          font-family: 'Maven Pro', sans-serif;
          border-bottom: 1px solid white;
          padding-bottom: 1vh;
          color: white;
        }

        .selectDesc{
          position: absolute;
          margin-top: 3vh;
          left:9vw;
          font-size: 17px;
          margin-bottom: 0;
          color: white;
          font-family: 'Maven Pro', sans-serif;
        }

        .imageIcon{
          position: absolute;
          margin-top:-7.8vh;
          right: 9vw;
          font-size: 80px;
          color:#dd38ff;
          opacity: 0.3;
        }
        }

        .imageGrid{
          margin-top: 1vh;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 82.5vw;
          border: none;
          height: 55vh;
        }

        .image-container{
          background-size: cover;
          min-height: 10vh;
          img{
            border-radius: 5px;
          }
        }

        .spacebrick{
            height: 2vh;
        }


      }




      .backBtn5{
        margin-top: 62vh;
      }

    }
  }
}
