<ion-header>
  <!-- 1 -->

  <div class="animated slideInDown circle1White" *ngIf="currentCard!=0" (click)="this.slides.slideTo(0)">1</div>

  <div class="animated slideInUp circle1Black" *ngIf="currentCard==0"> <i class="icon icon-contract" ></i> </div>

  <!-- 2 -->

  <div class="animated slideInDown circle2White" *ngIf="currentCard!=1" (click)="this.slides.slideTo(1)">2</div>

  <div class="animated slideInUp circle2Black" *ngIf="currentCard==1"> <i class="icon icon-info"></i> </div>

  <!-- 3 -->

  <div class="animated slideInDown circle3White" *ngIf="currentCard!=2" (click)="this.slides.slideTo(2)">3</div>

  <div class="animated slideInUp circle3Black" *ngIf="currentCard==2"> <i class="icon icon-license"></i> </div>

  <!-- 4 -->

  <div class="animated slideInDown circle4White" *ngIf="currentCard!=3" (click)="this.slides.slideTo(3)">4</div>

  <div class="animated slideInUp circle4Black" *ngIf="currentCard==3"> <i class="icon icon-license2"></i> </div>

  <!-- 5 -->

  <div class="animated slideInDown circle5White" *ngIf="currentCard!=4" (click)="this.slides.slideTo(4)">5</div>

  <div class="animated slideInUp circle5Black" *ngIf="currentCard==4"> <i class="icon icon-evidence"></i> </div>


</ion-header>

<ion-slides class= "slideContainer" (ionSlideDidChange)="slideChanged()">

  <ion-slide class= "stepOne">
    <div class="stepOneCard">

      <p class= "contactText">
        Contact Details
      </p>


      <input id="p2" placeholder="{{name_input}}" class="nameInput" [(ngModel)]="nameInput" (ngModelChange)="firstCardChanged()"/>
      <input placeholder="{{number_input}}" class="contactInput" type="tel" [(ngModel)]="numberInput" (ngModelChange)="firstCardChanged()"/>

      <p class="bankText">
        Bank Details
      </p>

      <input placeholder="{{bank_input}}" class="bankInput" [(ngModel)]="bankInput" (ngModelChange)="firstCardChanged()"/>
      <input placeholder="{{BSB_input}}" class="BSBInput" [(ngModel)]="BSBInput" (ngModelChange)="firstCardChanged()"/>
      <input placeholder="{{account_input}}" class="accountInput" [(ngModel)]="accountInput" (ngModelChange)="firstCardChanged()"/>

      <button class="cancelBtn" (click)="cancel()">
        Cancel
      </button>

      <button class="nextBtn" (click)="nextCard()" [disabled]="!firstCardValid">
        Next
      </button>


    </div>
  </ion-slide>

  <ion-slide class= "stepTwo">
    <div class="stepTwoCard">

      <p class="basicTextLeft">
        Date of incident
      </p>

      <ion-item class="dateBox" no-lines>
        <ion-label><i class="icon icon-calendar"></i></ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" (ngModelChange)="secondCardChanged()">
        </ion-datetime>
      </ion-item>

      <p class="basicTextLeft">
        Location of property
      </p>

      <button class="currrentLocBtn" (click)="getCurrentLoc()">
        Use my current location
      </button>

      <p>
        -- Or --
      </p>

      <button class="adressBox" (click)="enterAddress()">
        {{address}}
      </button>

      <br />

      <button class="backBtn2" (click)="previousCard()">
        Back
      </button>

      <button class="nextBtn2" (click)="nextCard()" [disabled]="!secondCardValid">
        Next
      </button>

    </div>
  </ion-slide>

  <ion-slide class= "stepThree">
    <div class="stepThreeCard">

      <p class="titleThreeCard">Reason for claim</p>

        <div class="select">
          <select [(ngModel)]="selectedValue" (ngModelChange)="thirdCardChanged()">
            <option>--Select--</option>
            <option [value]="'Storm'">Storm/Flood Damage</option>
            <option [value]="'Loss'">Accidental Loss/Damage</option>
            <option [value]="'Damage'">Malicious Damage</option>
            <option [value]="'Glass'">Glass</option>
            <option [value]="'Theft'">Theft</option>
            <option [value]="'Impact'">Impact</option>
            <option [value]="'Fusion'">Fusion</option>
            <option [value]="'Other'">Other</option>
          </select>
        </div>

        <p class="photoInfoThreeCard">
          Description of property lost or damaged
        </p>

        <textarea class="adInfoTextArea" placeholder="Enter description here.."
        cols="10" rows="3" [(ngModel)]="adInfoText" (ngModelChange)= "thirdCardChanged()">
        </textarea>

          <img src="{{selfLicense}}" *ngIf="selfLicense" class="selfLicensePic"/>


        <!-- <p class="dontHaveTxt">I don't have my drivers license with me</p> -->


      <button class="backBtn3" (click)="previousCard()">
        Back
        </button>

      <button class="nextBtn3" (click)="nextCard()" [disabled]= "!thirdCardValid">
        Next
      </button>

    </div>
  </ion-slide>

  <ion-slide class= "stepFour">
    <div class="stepFourCard">

      <h1 style="font-family:Arial;" class="additionalInfoTitle">
        Additional Information
      </h1>

      <button class= "infoButton" (click)="presentPopover($event)">
        <i class="icon icon-info"></i>
      </button>

      <input placeholder="Enter police event number here.." class="policeNumber" [(ngModel)]="policeNumber"
      (ngModelChange)= "fourthCardChanged()"/>

      <textarea class="infoTextArea" placeholder="Enter additional information here.."
      cols="20" rows="5" [(ngModel)]="infotext" (ngModelChange)= "fourthCardChanged()">
      </textarea>

      <button class="backBtn4" (click)="previousCard()">
        Back
      </button>

      <button class="nextBtn4" (click)="nextCard()" [disabled]="!fourthCardValid">
        Next
      </button>

    </div>
  </ion-slide>

  <ion-slide class= "stepFive">
    <div class="stepFiveCard">

      <button class="stepFiveBtns1" (click)="select()">
        <i class="icon icon-gallery"></i>
      </button>

      <button class="stepFiveBtns2" (click)="openCamera()">
        <i class="icon icon-picture"></i>
      </button>

      <button class="stepFiveBtns3">
        <i class="icon icon-edit"></i>
      </button>

      <br />

      <p class="emptyText" *ngIf="images.length<1">
        Tap the buttons above to insert or take pictures of the accident.
      </p>

      <i class="icon icon-camera cameraIconUpload" *ngIf="images.length<1"></i>

      <ion-grid class="imageGrid">
          <ion-content>
          <ion-row>
            <ion-col col-3 col-sm col-xs *ngFor="let image of images">
              <div class="image-container" [style.background-image]="'url(' + image + ')'"></div>
            </ion-col>
          </ion-row>
          </ion-content>
      </ion-grid>


      <button class="backBtn5" (click)="previousCard()">
        Back
      </button>

      <button class="submitBtn" (click)="submit()">
        Submit
      </button>

    </div>
  </ion-slide>

</ion-slides>
