page-travel {

  .topBar{
    background: green;
  }

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .slideContainer{
    background: linear-gradient(to bottom right, #26a65b 0%, #26c281 100%);

    .cancelBtn, .backBtn, .backBtn2, .backBtn3, .backBtn4, .backBtn5{
      font-size: 18px;
      color: #ecf0f1;
      background: #f58f84;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 30vh;
      width: 38vw;
      height: 9vh;
    }

    .nextBtn, .nextBtn2, .nextBtn3, .nextBtn4{
      font-size: 18px;
      color: #ecf0f1;
      background: #26C281;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 30vh;
      width: 38vw;
      height: 9vh;
    }

    .submitBtn{
      font-size: 18px;
      color: #ecf0f1;
      background: #26C281;
      padding-top: 3vh;
      padding-bottom: 3vh;
      padding-left: 4vw;
      padding-right: 4vw;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #aeaeae;
      margin-top: 30vh;
      width: 38vw;
      height: 9vh;
    }

    .infoInputBasic{
      background: none;
      border: none;
      margin-top: 10vh;
      border-bottom: 1px solid #aeaeae;
      width: 75vw;
    }

    .basicTextLeft, .basicTextLeftV6, .basicTextLeftV2, .basicTextLeftV3{
      color: #6d6d6d;
      text-align: left;
      margin-top: 0vh;
      margin-bottom: 1vh;
      margin-left: 6vw;
      padding-top: 2vh;
    }

    .stepOne{
       //background: linear-gradient(to bottom right, #3a7bd5 0%, #3a6073 100%);
       .stepOneCard{
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         width: 87vw;
         height: 83vh;
         margin-top: 10vh;
         background: #efefef;
         border-radius: 5px;
         box-shadow: 0px 0px 10px #006442;

         .insurerInput, .nameInput, .contactInput{
           background: none;
           border: none;
           margin-top: 10vh;
           border-bottom: 1px solid #aeaeae;
           width: 75vw;
         }

         ::placeholder {
           color: #7c7c7c;
         }

        .contactInput{

        }
       }
    }
    .stepTwo{
      .stepTwoCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;

        .choice1, .choice2{
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: left;
          border: none;
          border-radius: 3px;
          box-shadow: 0px 0px 3px #aeaeae;
          margin-top: 1vh;
          width: 76vw;
          height: 6vh;
        }

        .basicTextLeftV2{
          padding-top: 8vh;
        }

        .nextBtn2, .backBtn2{
          margin-top: 9vh;
        }
      }
    }
    .stepThree{
      .stepThreeCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;

        .dateBox{
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: left;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          width: 76vw;
          height: 9vh;

          i{
            font-size: 23px;
          }
        }

        .basicTextLeftV3{
          padding-top: 7vh;
        }

        .currrentLocBtn{
          font-size: 18px;
          color: #ecf0f1;
          text-align: center;
          background: #409cf6;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          margin-left: 1vw;
          width: 76vw;
          height: 9vh;
        }

        .adressBox{
          font-size: 18px;
          color: #161616;
          text-align: center;
          background: #ffffff;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #aeaeae;
          margin-left: 1vw;
          width: 76vw;
          height: 9vh;
          margin-bottom: 8vh;
        }

        .backBtn3, .nextBtn3{
          margin-top: 5vh;
        }

      }
    }
    .stepFour{
      .stepFourCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;

        .select {
          color: black;
          position: relative;
          display: inline-block;
          margin-bottom: 10px;
          width: 90%;
        }

        .select select {
          width: 100%;
          padding: 10px 15px;
          border-radius: 6px;
          border: none;
          background: #4B77BE;
          color: #aeaeae;
        }

        .infoTextArea{
          border-radius: 10px;
          margin-top: 3vh;
          background-color: white;
          width: 78vw;
          height: 10vh;
          resize: none;
        }

        .bankInput, .BSBInput, .accountInput{
          background: none;
          border: none;
          margin-top: 7vh;
          border-bottom: 1px solid #aeaeae;
          width: 75vw;
        }

        .backBtn4, .nextBtn4{
          margin-top: 11vh;
        }

      }
    }
    .stepFive{
      .stepFiveCard{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 87vw;
        height: 83vh;
        margin-top: 10vh;
        background: #efefef;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #006442;

        .stepFiveBtns1, .stepFiveBtns2, .stepFiveBtns3{
          font-size: 18px;
          color: #ecf0f1;
          background: #606060;
          border: 0.5px solid #ecf0f1;
          border-radius: 1px;
          margin-top: 2vh;
          margin-left: -2vw;
          width: 27vw;
          height: 7vh;

          i{
            text-align: center;
            font-size: 30px;
          }
        }

        p.emptyText{
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 80vw;
          top: 33vh;
          overflow: auto;
          color: #BDC3C7;
        }

        .cameraIconUpload{
          font-size: 80px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left:0;
          right:0;
          text-align: center;
          top: 45vh;
          color: #BDC3C7;
        }

        .stepFiveBtns1{
          margin-left: 1.1vw;
        }

        .stepFiveBtns1:active, .stepFiveBtns2:active, .stepFiveBtns3:active {
          background-color: #19B5FE;
        }

        .imagePick{
          margin-top:5vh;
          width:100%;
          height: 20vh;
          border-radius: 5px;
          background: linear-gradient(to right, #ffcc99 0%, #ff9933 201%);

        .selectTxt{
          position: absolute;
          margin-top:-7.8vh;
          left:9vw;
          font-size: 30px;
          margin-bottom: 0;
          font-family: 'Maven Pro', sans-serif;
          border-bottom: 1px solid white;
          padding-bottom: 1vh;
          color: white;
        }

        .selectDesc{
          position: absolute;
          margin-top: 3vh;
          left:9vw;
          font-size: 17px;
          margin-bottom: 0;
          color: white;
          font-family: 'Maven Pro', sans-serif;
        }

        .imageIcon{
          position: absolute;
          margin-top:-7.8vh;
          right: 9vw;
          font-size: 80px;
          color:#dd38ff;
          opacity: 0.3;
        }
        }

        .imageGrid{
          margin-top: 1vh;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 82.5vw;
          border: none;
          height: 55vh;
        }

        .image-container{
          background-size: cover;
          min-height: 10vh;
          img{
            border-radius: 5px;
          }
        }

        .spacebrick{
            height: 2vh;
        }

        .backBtn5{
          margin-top: 62vh;
        }

      }
    }
  }

}
