<ion-content padding class="no-scroll" no-bounce>
  <ion-title>{{license}} <br /> <p>Add license details below </p></ion-title>

  <ion-list no-lines *ngIf="license=='Your License'">

    <ion-item class="dob">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstPartyLicenseName"></ion-input>
    </ion-item>

    <ion-item class="licenseNumber">
      <ion-label floating>License Number</ion-label>
      <ion-input type="text" [(ngModel)]="firstPartyLicenseNumber"></ion-input>
    </ion-item>

    <ion-item class="address">
      <ion-label floating>Address</ion-label>
      <ion-input type="text" [(ngModel)]="firstPartyLicenseAddress"></ion-input>
    </ion-item>

    <button class="doneBtn" (click)="closeAndSave()">Done</button>
  </ion-list>

  <ion-list no-lines *ngIf="license=='Third Party License'">

    <ion-item class="dob">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="thirdPartyLicenseName"></ion-input>
    </ion-item>

    <ion-item class="address">
      <ion-label floating>Address</ion-label>
      <ion-input type="text" [(ngModel)]="thirdPartyLicenseAddress"></ion-input>
    </ion-item>

    <ion-item class="mobileNum">
      <ion-label floating>Mobile Number</ion-label>
      <ion-input type="text" [(ngModel)]="thirdPartyLicenseMobileNumber"></ion-input>
    </ion-item>

    <button class="doneBtn" (click)="closeAndSave()">Done</button>


  </ion-list>

  <i class="icon icon-self photoIcon" *ngIf="license=='Your License'"></i>
  <i class="icon icon-smile photoIcon" *ngIf="license=='Third Party License'"></i>


</ion-content>
