@import url('https://fonts.googleapis.com/css?family=Poppins');

page-license-input {

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .fixed-content{
    background: #59ABE3;
    height: 12vh;
    width: 100%;
  }

  .toolbar-title{
    font-family: 'Poppins', sans-serif;
    color: white !important;
  }


}
